<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>stdavis.notion</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>7CB3611B-5FF8-471E-B6BA-F30250A2FA1C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E28EFC35-4099-49C0-95AD-0E69A2C616AC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8E1E5DD7-31CA-45AB-8A06-08F0A3986CFE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F4FF1EDD-8606-44A1-A071-6CE69FC348D3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F4FF1EDD-8606-44A1-A071-6CE69FC348D3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7CB3611B-5FF8-471E-B6BA-F30250A2FA1C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Notion</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>note</string>
				<key>subtext</key>
				<string>Creates or opens today's work note in Notion</string>
				<key>text</key>
				<string>Today's Work Note</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8E1E5DD7-31CA-45AB-8A06-08F0A3986CFE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node work-note.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F4FF1EDD-8606-44A1-A071-6CE69FC348D3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E28EFC35-4099-49C0-95AD-0E69A2C616AC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>7CB3611B-5FF8-471E-B6BA-F30250A2FA1C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>7CB3611B-5FF8-471E-B6BA-F30250A2FA1C</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>8E1E5DD7-31CA-45AB-8A06-08F0A3986CFE</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>E28EFC35-4099-49C0-95AD-0E69A2C616AC</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>F4FF1EDD-8606-44A1-A071-6CE69FC348D3</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>SECRET</key>
		<string>secret_fITTMwWPYVuKTgomM3mABQ4KzIIaOXD5JIlmxt1gJfx</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>SECRET</string>
	</array>
	<key>version</key>
	<string></string>
</dict>
</plist>
