<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>stdavis.notion</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>016EEB5B-016B-4DD2-B37B-247189C46B79</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6395822E-BF25-458B-82A0-19811637F7B8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3BB67068-FA43-476F-BA18-2F5E948F4174</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>99CBCCFD-BB0B-4802-A8B5-C5768BD4C847</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>45326AD3-A7F7-4412-95BD-48B820AF0B97</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5FFB1D56-FD0A-45B8-A30E-A3034A406960</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>49EF253E-8953-4553-B148-5C6DF2E9CE05</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C5789B4A-FBC3-4D35-A7E9-F65DCFA7A656</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>56854D3F-B5E5-4B66-A2C7-3C30CF7E42FD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1F1195FA-E70A-4C25-841C-9B83DE879BF1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5FFB1D56-FD0A-45B8-A30E-A3034A406960</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A3485978-A4F5-4C28-AA78-BC6F4634AD79</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7CB3611B-5FF8-471E-B6BA-F30250A2FA1C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E28EFC35-4099-49C0-95AD-0E69A2C616AC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8E1E5DD7-31CA-45AB-8A06-08F0A3986CFE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F4FF1EDD-8606-44A1-A071-6CE69FC348D3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>99CBCCFD-BB0B-4802-A8B5-C5768BD4C847</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>56854D3F-B5E5-4B66-A2C7-3C30CF7E42FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C5789B4A-FBC3-4D35-A7E9-F65DCFA7A656</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>016EEB5B-016B-4DD2-B37B-247189C46B79</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D309B97E-B460-4388-B61E-7BAC5F2BFA6D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>45326AD3-A7F7-4412-95BD-48B820AF0B97</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F4FF1EDD-8606-44A1-A071-6CE69FC348D3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7CB3611B-5FF8-471E-B6BA-F30250A2FA1C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Notion</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>wn</string>
				<key>subtext</key>
				<string>Creates or opens a note in Work Notepad database</string>
				<key>text</key>
				<string>Today's Work Note</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8E1E5DD7-31CA-45AB-8A06-08F0A3986CFE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node createOrOpen.js work "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F4FF1EDD-8606-44A1-A071-6CE69FC348D3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E28EFC35-4099-49C0-95AD-0E69A2C616AC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>7CB3611B-5FF8-471E-B6BA-F30250A2FA1C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node createOrOpen.js scratch "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>99CBCCFD-BB0B-4802-A8B5-C5768BD4C847</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1F1195FA-E70A-4C25-841C-9B83DE879BF1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>scratch</string>
				<key>subtext</key>
				<string>Creates or opens a note in Scratch database</string>
				<key>text</key>
				<string>Scratch Note</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3BB67068-FA43-476F-BA18-2F5E948F4174</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>56854D3F-B5E5-4B66-A2C7-3C30CF7E42FD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>bishop</string>
				<key>subtext</key>
				<string>Creates or opens a note in Bishop database</string>
				<key>text</key>
				<string>Bishop Note</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D309B97E-B460-4388-B61E-7BAC5F2BFA6D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A3485978-A4F5-4C28-AA78-BC6F4634AD79</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node createOrOpen.js bishop "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>45326AD3-A7F7-4412-95BD-48B820AF0B97</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>5FFB1D56-FD0A-45B8-A30E-A3034A406960</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6395822E-BF25-458B-82A0-19811637F7B8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>journal</string>
				<key>subtext</key>
				<string>Creates or opens a note in Journal database</string>
				<key>text</key>
				<string>Journal Note</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>49EF253E-8953-4553-B148-5C6DF2E9CE05</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node createOrOpen.js journal "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C5789B4A-FBC3-4D35-A7E9-F65DCFA7A656</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>016EEB5B-016B-4DD2-B37B-247189C46B79</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>016EEB5B-016B-4DD2-B37B-247189C46B79</key>
		<dict>
			<key>xpos</key>
			<integer>415</integer>
			<key>ypos</key>
			<integer>525</integer>
		</dict>
		<key>1F1195FA-E70A-4C25-841C-9B83DE879BF1</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>3BB67068-FA43-476F-BA18-2F5E948F4174</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>45326AD3-A7F7-4412-95BD-48B820AF0B97</key>
		<dict>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>49EF253E-8953-4553-B148-5C6DF2E9CE05</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>495</integer>
		</dict>
		<key>56854D3F-B5E5-4B66-A2C7-3C30CF7E42FD</key>
		<dict>
			<key>xpos</key>
			<integer>405</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>5FFB1D56-FD0A-45B8-A30E-A3034A406960</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>6395822E-BF25-458B-82A0-19811637F7B8</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>495</integer>
		</dict>
		<key>7CB3611B-5FF8-471E-B6BA-F30250A2FA1C</key>
		<dict>
			<key>xpos</key>
			<integer>405</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>8E1E5DD7-31CA-45AB-8A06-08F0A3986CFE</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>99CBCCFD-BB0B-4802-A8B5-C5768BD4C847</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>A3485978-A4F5-4C28-AA78-BC6F4634AD79</key>
		<dict>
			<key>xpos</key>
			<integer>495</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>C5789B4A-FBC3-4D35-A7E9-F65DCFA7A656</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>495</integer>
		</dict>
		<key>D309B97E-B460-4388-B61E-7BAC5F2BFA6D</key>
		<dict>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>E28EFC35-4099-49C0-95AD-0E69A2C616AC</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>F4FF1EDD-8606-44A1-A071-6CE69FC348D3</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>SECRET</key>
		<string>***REMOVED***</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>SECRET</string>
	</array>
	<key>version</key>
	<string></string>
</dict>
</plist>
